body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #273136;
}

.sidebar {
  direction: rtl;
  width: 300px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background: #1d2528;
  overflow: auto;
}

.mainBody {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  box-sizing: border-box;
}

.mainBody .canvasDiv {
  width: 100%;
  height: 100%;
}

.mainBody .canvasDiv #mainCanvas {
  position: absolute;
}

.sidebar .sidebarSection {
  direction: ltr;
  display: flex;
  flex-direction: column;
  margin: 20px;
  /*background: white;*/
  padding: 10px;
  border-radius: 3px;
  border: white solid 1px;
  color: white;
}

.sidebar .sidebarSection .title {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar .sidebarSection .title .titleButton button {
  background: #78dce8;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.sidebar .sidebarSection .body {
  border-top: white 1px solid;
  padding: 10px;
}

.sidebar .sidebarSection .body .chart {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.sidebar .sidebarSection .body .chart canvas {
  flex-grow: 0;
  width: 200px;
  height: 200px;
}

.sidebar .sidebarSection .body .section {
}

.sidebar .sidebarSection .body table {
  width: 100%;
}

.sidebar .sidebarSection .body table tbody {
}

.sidebar .sidebarSection .body table tr {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar .sidebarSection .body table td {
  width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.sidebar input[type="number"] {
  width: 100%;
  background: none;
  border: none;
  padding: 2px;
  border-bottom: 1px solid white;
  text-align: center;
  color: #78dce8;
}

.bigGreenButton {
  width: 100%;
  height: 100%;
  background: #a9dc76;
  border-radius: 3px;
  border: none;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.bigGreenButton.running {
  background: #ff6188;
}

.sidebar::-webkit-scrollbar {
  width: 0.5em;
}
.sidebar::-webkit-scrollbar-track {
  background: none;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #78dce8;
  border-radius: 3px;
}

#addCurve {
  display: flex;
  flex-direction: row;
}

#addCurve input[type="number"] {
  flex-shrink: 1;
}

#addCurve input[type="submit"] {
  background: #78dce8;
  border-radius: 0 3px 3px 0;
  border: none;
}

#curves {
}

#curves .bezierCurve {
  background: #273136;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: solid 1px transparent;
}

#curves .bezierCurve.chosenForRegression {
  border: 1px solid white;
}

#curves .bezierCurve:not(:first-child) {
  margin-top: 10px;
}

#curves .bezierCurve button {
  margin: 2px;
  background: none;
  border: none;
  color: white;
}

#curves .bezierCurve button:hover {
  background: #1d2528;
}
